<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="anim.bro.com.practice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:maxAspectRatio="2.4"
        android:networkSecurityConfig="@xml/test_security"

        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.OkHttpTestActivity"></activity>
        <activity
            android:name=".ui.TestInputActivity"
            android:exported="false" />
        <activity
            android:name=".ui.GsonParseActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:maxAspectRatio="2.4">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.RvFragmentActivity"
            android:exported="true" />
        <activity android:name=".focus.FocusNewActivity" />
        <activity android:name=".rv.RVActivity" />
        <activity android:name=".goods.GoodsBuyActivity" />
        <activity
            android:name=".map.MapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".goods.GlideActivity" />
        <activity android:name=".ui.DuoDianActivity" />

        <meta-data
            android:name="android.min_aspect"
            android:value="1.0" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" /> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <activity android:name=".ui.CycleBoxActivity" />
        <activity android:name=".ui.PDFActivity" />
        <activity android:name=".goods.GoodsSaleActivity" />
        <activity android:name=".ui.BlurActivity" />
        <activity android:name=".ui.RedFlyActivity" />
        <activity android:name=".ui.PraiseActivity" />
        <activity android:name=".ui.RedNewActivity" />
        <activity android:name=".ui.RedRainActivity" />
        <activity android:name=".ui.FlexBoxActivity" />
        <activity android:name=".banner.BannerActivity" />
        <activity android:name=".rvcategory.RvCategoryActivity" />

        <service android:name=".service.SyncTimeService" />

        <activity android:name=".tuibida.ui.RvMoveTopActivity" />
        <activity android:name=".tuibida.ui.LottieActivity" />
        <activity android:name=".tuibida.ui.ConstrainLayoutActivity" />
        <activity android:name=".tuibida.ui.TabFragmentActivity" />
        <activity android:name=".tuibida.ui.SwitchActivity" />
        <activity android:name=".tuibida.ui.GridActivity" />
        <activity android:name=".tuibida.MainTuiBiDaActivity" /> <!-- 腾讯地图和定位相关start -->
        <meta-data
            android:name="TencentMapSDK"
            android:value="6CLBZ-EGACJ-T6KF7-KJ7DP-WR3P7-PHFRU" />
        <meta-data
            android:name="UPA_MPA_CHANNELID"
            android:value="359682YNF3a" />
        <meta-data
            android:name="UPA_MPA_APPKEY"
            android:value="aiA7Zj" />

        <activity android:name=".tuibida.ui.HideViewActivity" />
        <activity android:name=".tuibida.ui.CoordinatorActivity" />
        <activity android:name=".tuibida.ui.RedTaskActivity" />
        <activity android:name=".tuibida.ui.ViewModelActivity" />
        <activity
            android:name=".tuibida.ui.DialogActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:theme="@style/share_activity_styles"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".tuibida.ui.DramViewHeightActivity" />
        <activity android:name=".tuibida.ui.ToastActivity" />
        <activity android:name=".tuibida.multidrag.MultiDragActivity" />
        <activity
            android:name=".tuibida.ui.CountDownActivity"
            android:launchMode="singleInstance" />
    </application>

</manifest>